.image-download {
  width: 300px;
}
.image-store {
  width: 250px;
}
.image {
  width: 350px;
  margin-right: 350px;
  border-radius: 40px;
  box-shadow: 1px 0px 33px black;
}
.image-team {
  width: 350px;
  border-radius: 20px;
}

.image-logo {
  height: 350px;
  padding-left: 350px;
}

.image-android {
  width: 250px;
}

.image-apple {
  width: 280px;
}