.image-download {
  width: 300px;
}
.image-store {
  width: 250px;
}
.image {
  width: 350px;
  margin-right: 350px;
  border-radius: 40px;
  box-shadow: 1px 0px 33px black;
}
.image-team {
  margin-left: 450px;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 250px;
  border-radius: 30px;
  box-shadow: 1px 0 30px;
}

.image-logo {
  height: 350px;
  padding-left: 350px;
}

.image-android {
  width: 250px;
}

.image-apple {
  width: 280px;
}

.image-contact {
  width: 400px;
  margin-left: 800px;
}