body {
  background-color: #f2 #f2 #f2;
}

.navbar {
  background-color: beige;
}

.card {
  background-color: beige;
}

.jumbotron {
  background-color: #f2 #f2 #f2;
}

.container {
  margin: 30px;
  padding: 5px;
}