.navbar {
  background-color: beige;
}

.card {
  background-color: #8fff7b;
}

.list li {
  list-style-type: none;
}
.list li a {
  text-decoration: none;
}

.container {
  margin-left: 50px;
}

.image {
  width: 250px;
  height: 250px;
}