.navbar {
  background-color: beige;
}

.logo {
  height: 70px;
  line-height: 70px;
}

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.color-background {
  opacity: 0.7px;
}

#footer {
  background-color: #00D360;
  padding: 50px 0;
}
#footer .copyright {
  font-size: 18px;
  text-align: center;
}

.title-home {
  margin-bottom: 300px;
}

.card-price {
  background-color: #00D360;
  border-radius: 10px;
  box-shadow: 1px 0 30px black;
}

.contact {
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 12px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 12px;
}

.form-control:hover {
  background-color: beige;
}

.btn {
  border-radius: 50em;
  padding: 0.375rem 1.75rem;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.form-group {
  max-width: 500px;
}

.list-link li {
  list-style-type: none;
}
.list-link li a {
  text-decoration: none;
  color: white;
}
.list-link li a:hover {
  color: blue;
}

.image-download {
  width: 300px;
}

.image-store {
  width: 250px;
}

.image {
  width: 350px;
  margin-right: 350px;
  border-radius: 40px;
  box-shadow: 1px 0px 33px black;
}

.image-team {
  margin-left: 450px;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 250px;
  border-radius: 30px;
  box-shadow: 1px 0 30px;
}

.image-logo {
  height: 350px;
  padding-left: 350px;
}

.image-android {
  width: 250px;
}

.image-apple {
  width: 280px;
}

.image-contact {
  width: 400px;
  margin-left: 800px;
}