.navbar {
  background-color: beige;
}

.logo {
  height: 70px;
  line-height: 70px;
}

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.color-background {
  opacity: 0.7px;
}

.card {
  background-color: #00D360;
  align-items: center;
}

.card-price {
  background-color: #00D360;
  border-radius: 10px;
}

.title-home {
  margin-bottom: 300px;
}

.contact {
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 12px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 12px;
}

.form-control:hover {
  background-color: beige;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0px;
}

.btn-home {
  margin-left: 300px;
}

.list-link li {
  list-style-type: none;
}
.list-link li a {
  text-decoration: none;
  color: white;
}
.list-link li a:hover {
  color: blue;
}

.image-download {
  width: 300px;
}

.image-store {
  width: 250px;
}

.image {
  width: 350px;
  margin-right: 350px;
  border-radius: 40px;
  box-shadow: 1px 0px 33px black;
}

.image-team {
  width: 350px;
  border-radius: 20px;
}

.image-logo {
  height: 350px;
  padding-left: 350px;
}

.image-android {
  width: 250px;
}

.image-apple {
  width: 280px;
}