.navbar {
  background-color: beige;
}

.card {
  background-color: #8fff7b;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.list li {
  list-style-type: none;
}
.list li a {
  text-decoration: none;
}

.image {
  width: 250000px;
  height: 250px;
  border-radius: 30px;
}