.navbar {
  background-color: beige;
}

.logo {
  height: 70px;
  line-height: 70px;
}

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.color-background {
  opacity: 0.7px;
}

.card {
  background-color: #00D360;
  align-items: center;
}

.title-home {
  margin-bottom: 300px;
}

.contact {
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 12px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 12px;
}
.form-group .form-control:hover {
  background-color: beige;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.btn-home {
  margin-left: 300px;
}

.list li {
  list-style-type: none;
}
.list li a {
  text-decoration: none;
}

.image-download {
  margin-left: 700px;
  width: 400px;
}

.image-store {
  width: 250px;
  height: 250px;
}

.image {
  width: 350px;
  margin-left: 350px;
  border-radius: 40px;
  box-shadow: 1px 0px 33px black;
}

.image-team {
  width: 350px;
  border-radius: 20px;
}