.navbar {
  background-color: beige;
}

.logo {
  height: 70px;
  line-height: 70px;
}

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  background-color: #00D360;
}

.contact {
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 12px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 12px;
}
.form-group .form-control:hover {
  background-color: red;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.list li {
  list-style-type: none;
}
.list li a {
  text-decoration: none;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 30px;
}